{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 10.7939674,
    "longitude": 106.71735259234563,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Asia/Saigon",
    "external_url": null,
    "internal_url": null,
    "currency": "VND",
    "country": "VN",
    "language": "en",
    "radius": 41
  }
}